@import "tailwindcss";
@import "tw-animate-css";
@import "@blehprint/ui/globals.css";

@source "../node_modules/@blehprint/ui/src/**/*.tsx";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
